<div class="table">
    <a href="/" class="waves-effect cyan lighten-1 btn">Вернуться</a>
    <label>
        <input type="checkbox" checked="checked" />
        <span>Пробковый сбор</span>
    </label>
    <h1>{{table.title}}</h1>
    <img src="{{table.img}}" alt="{{table.title}}">
    <h3 class="price">{{table.price}}</h3>
</div>